body {
  background-color: rgb(40, 40, 40);
  color: antiquewhite;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 8px;
  text-align: center;
  min-width: 29px;
}

th {
  background-color: rgba(173, 216, 230, 0.3);
  border: 1px solid lightblue;
}

.filled {
  border: 1px solid rgba(248, 190, 82, 0.759);
}

.filled:hover {
  font-weight: bold;
  background-color: rgba(153, 205, 50, 0.553);
  cursor: pointer;

}




.input-date {
  background-color: rgb(40, 40, 40);
  color: antiquewhite;
  display: flex;
  margin: 16px 0 16px 0;
  /* gap: 1rem; */
  width: 320px;
  justify-content: space-between;
}

.input-date input,
.input-date select {
  font-size: 16px;
  background-color: rgb(40, 40, 40);
  padding: 8px;
  color: antiquewhite;
  border: 1px solid rgba(248, 190, 82, 0.759);
  border-radius: 2px;
  width: 130px;
  text-align: center;

}


.input-date select {
  width: 60px;
  /* appearance: none; */
  -webkit-overflow-scrolling: touch;
  /* overflow: scroll; */
  /* color: red; */

  /* padding: 0 116px; */
}

.prev,
.next {
  border: 1px solid rgba(248, 190, 82, 0.759);
  border-radius: 2px;
  background-color: rgb(40, 40, 40);
  color: antiquewhite;
  padding: 0 16px;

}

.month-skip:hover {
  /* font-weight: bold; */
  background-color: rgba(153, 205, 50, 0.553);
  cursor: pointer;
}




/*
form {
  padding: 2rem 0 2rem 0;
}

.order[data-order-state="ready"] {
  color: lightgreen;
}

.order[data-order-state="pending"] {
  color: rgba(234, 234, 232, 0.448);
}

.order[data-order-state="canceled"] {
  color: rgba(249, 54, 54, 0.866);
}

a {
  text-decoration: none;
  color: lightblue;
}

a:hover {
  text-decoration: underline;

}

.text {
  color: red;
}
*/